/CustomList/Temp
/CustomList/UserSettings
/CustomList/.vsconfig
/CustomList/Assembly-CSharp.csproj
/CustomList/CustomList.sln
/CustomList/.vs
/CustomList/Library
/CustomList/Logs
/CustomList/obj
/CustomList/Packages
